# Common
.DS_Store
.idea
.vscode
*.swp
*.log

# Backend (Spring Boot)
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/*.jar
**/*.war
**/application-cloud.properties

# Frontend (Node/React)
**/node_modules/
**/dist/
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# OS files
Thumbs.db
